<div class="card project-preview">
  <h4><%= project.name %></h4>
  <div class="project-progress">
    <span>
      <%= project.description %>
    </span>
  </div>
  <div class="button-container">
    <%= link_to  "Ver mais", department_project_path(project.id), class: 'btn btn-link float-right' %>
  </div>
</div>
