<div class="card proposal-preview">
  <h4><%= company_proposal.name %></h4>
  <div class="proposal-progress">
    <span><%= company_proposal.description %></span> 
  </div>
  <div class="button-container">
    <%= link_to  "Ver mais", department_proposal_path(company_proposal), class: 'btn btn-link float-right' %>
  </div>
</div>
