<div class="container">
  <div class="overview">
    <div class="mt-5">
      <div class="row">
        <div class="col-sm-12">
          <span class="h2">Visão Geral</span>
        </div>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-sm-6">
        <div class="projects card">
          <span class="h4 font-weight-bold">Projetos Ativos</span>
          <div class="mt-3">
            <% 5.times do %>
              <%= render "project_preview" %>
            <% end %>
          </div>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="proposals card">
          <span class="h4 font-weight-bold">Propostas</span>
          <div class="mt-3">
            <% @company_proposals.each do |company_proposal| %>
              <%= render "proposal_preview", company_proposal: company_proposal %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
