<div class="container-fluid overview">
  <h2>Visão geral</h2>
  <hr>
  <div class="row col-lg-8 offset-lg-2">
    <div class="col-sm-6">
      <div class="projects card">
        <h3>Projetos Ativos</h3>
        <% 5.times do %>
          <%= render "project_preview" %>
        <% end %>
      </div>
    </div>
    
    <div class="col-sm-6">
      <div class="suggestions card">
        <h3>Sugestões</h3>  
        <% 4.times do %>
          <%= render "suggestion_preview" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
