<div class="card project-preview">
  <h4>Projeto X</h4>
  <div class="project-progress">
    <span>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos, id.
    </span> 
  </div>
  <div class="button-container">
    <%= link_to  "Ver mais", '#', class: 'btn btn-link float-right' %>
  </div>
</div>
