<div class="container-fluid project">
  <h2 class="project-title">Nome do Projeto</h2>
  <hr>
  <h3>Descrição</h3>
  <span>
    Lorem ipsum dolor sit amet
    Consectetur adipiscing elit
    Integer molestie lorem at massa
    Facilisis in pretium nisl aliquet
    Nulla volutpat aliquam velit
        Phasellus iaculis neque
        Purus sodales ultricies
        Vestibulum laoreet porttitor sem
        Ac tristique libero volutpat at
    Faucibus porta lacus fringilla vel
    Aenean sit amet erat nunc
    Eget porttitor lorem
  </span>
  <h3>Integrantes</h3>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Cras justo odio</li>
    <li class="list-group-item">Dapibus ac facilisis in</li>
    <li class="list-group-item">Morbi leo risus</li>
    <li class="list-group-item">Porta ac consectetur ac</li>
    <li class="list-group-item">Vestibulum at eros</li>
  </ul>
  <h3>Investimentos</h3>
  <span>De R$0,00 a R$32,00</span>
  <br>
  <span>3 máquinas</span>
  <h3>Adicionais</h3>
</div>
