.project {
  padding: 20px 0px;

  .description, .investments, .additional-info {
    margin-bottom: 10px;
    padding: 10px 0px;
  }

  .progress-info {
    .progress {
      margin-top: 20px;
    }
  }
}
