<div class="container">
  <div class="mt-5">
    <div class="row">
      <div class="col-sm-6">
        <span class="h2">Projetos</span>
      </div>
      <div class="col-sm-6">
        <%= link_to new_company_proposal_path do %>
          <button type="button" class="btn btn-primary pull-right">Nova Proposta</button>
        <% end %>
      </div>
    </div>
  </div>
  <div class="context-box-wrapper mt-4">
    <table class="table table-hover table-striped mt-4">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nome</th>
          <th scope="col">Resumo</th>
          <th scope="col">Status</th>
        </tr>
      </thead>
      <tbody>
        <% @proposals.each do |proposal| %>
          <tr>
            <th scope="row">1</th>
            <td><%= proposal.name %></td>
            <td><%= preview_description(proposal.description) %></td>
            <td><%= translate_status(proposal.status) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
