<div class="project col-lg-9">
  <h2>Nome do Projeto</h2>
  <hr>
  <div class="description">
    <h4>Descrição</h4>
    <span>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Non adipisci quasi atque facere ut, quibusdam labore maxime! Eligendi eius, quisquam aliquam nostrum temporibus, esse consequuntur reprehenderit et culpa accusamus perferendis.
    </span>
  </div>
  <div class="investments">
    <h4>Investimentos</h4>
    <div class="budget-range">
      <span>De R$0,00 a R$32,00</span>
    </div>
    <div class="additional-investments">
      <span>3 máquinas</span>
    </div>
  </div>
  <div class="additional-info">
    <h4>Observações</h4>
    <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio, hic?</span>
  </div>
  <hr>
  <div class="progress-info">
    <h4>Progresso</h4>
    <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima debitis quae ab consequatur iusto tempore. Dolores quasi accusantium magnam </span>
    <div class="progress">
      <div class="progress-bar-striped bg-info" role="progressbar" style="width: 30%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
  </div>
</div>
