<div class="project col-lg-9">
  <div class="card">
    <div class="card-header">
      <h3>Projeto X</h3>
    </div>
    
    <div class="card-content">
      <div class="description">
        <h4>Descrição</h4>
        <span>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Non adipisci quasi atque facere ut, quibusdam labore maxime! Eligendi eius, quisquam aliquam nostrum temporibus, esse consequuntur reprehenderit et culpa accusamus perferendis.
        </span>
      </div>

      <div class="investment-container">
        <h4>Investimento</h4>
        <div class="investment">
          <h5>R$32,00</h5>
        </div>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header">
      <h4>Progresso</h4>
    </div>
    <div class="card-content">
      <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima debitis quae ab consequatur iusto tempore. Dolores quasi accusantium magnam </span>
      <div class="progress">
        <div class="progress-bar-striped bg-info" role="progressbar" style="width: 30%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header">
      <h4>Observações</h4>
    </div>
    <div class="card-content">
      <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos velit consectetur sed repudiandae voluptates animi.</span>
    </div>
  </div>
</div>
