<div class="project col-lg-9">
  <div class="card">
    <div class="card-header">
      <h3><%= @department_proposal.name %></h3>
    </div>

    <div class="card-content">
      <div class="description">
        <h4>Descrição</h4>
        <span><%= @department_proposal.description %></span>
      </div>

      <div class="investment-container">
        <h4>Investimento</h4>
        <div class="investment">
          <h5><%= "R$ #{investment_rounded}" %></h5>
        </div>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header">
      <h4>Observações</h4>
    </div>
    <div class="card-content">
      <span><%= @department_proposal.notes %></span>
    </div>
  </div>
</div>
