<div class="container-fluid project">
  <h2>Nome do Projeto</h2>
  <hr>
  <div class="descripton">
    <h3>Descrição</h3>
    <span>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Non adipisci quasi atque facere ut, quibusdam labore maxime! Eligendi eius, quisquam aliquam nostrum temporibus, esse consequuntur reprehenderit et culpa accusamus perferendis.
    </span>
  </div>
  <h3>Investimentos</h3>
  <span>De R$0,00 a R$32,00</span>
  <br>
  <span>3 máquinas</span>
  <h3>Observações</h3>
</div>
